
<!-- use it as it is... -->

<footer class="site-footer bg-light  mt-5" id="contacts">
    <div class="container">
        <div class="row d-flex">
            <div class="col-sm-12 col-md-8 mt-5">
                <h6>About</h6>
                <p class="text-justify">
                    Thank you for choosing TricodeTally to elevate your coding experience! We value your trust and are committed to delivering the best tools and resources to help you reach new heights in your coding journey. 
                    Together, we're creating a thriving community of passionate coders, eager to inspire and learn from one another. Your success is our success, and we’re excited to celebrate each milestone with you. Happy coding, and let’s achieve greatness together! </p>
            </div>
            <div class="col-xs-3 col-md-3 mt-5">
                <h6>Quick Links</h6>
                <ul class="footer-links flex-row">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="http://localhost:4000/">Chat</a></li>
                    <li><a href="/about">Code Editor</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
                    <a href="/">TricodeTally</a>.
                </p>
            </div>
        </div>
    </div>
</footer>